<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>ABM Alumnos</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="alumnos">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cursos">Cursos</a>
          </li>
        </ul>
        <div class="d-flex align-items-center navbar-text" *ngIf="sesion$ | async as sesion">
          <mat-icon>person</mat-icon>
          <span>{{sesion.usuario!.nombre}} {{sesion.usuario!.apellido}}</span>
          <button mat-icon-button (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
          </button>
        </div>
      </div>      
    </div>
  </nav>