<div class="container menu">

    <h4>Opciones:</h4>

    <div class="row p-2" *ngIf="tipo==='alumno'">
        <button class="col-12 btn btn-outline-dark mt-1" routerLink="listar-alumnos" >Listar alumnos</button>
        <button class="col-12 btn btn-outline-dark mt-1" routerLink="agregar-alumnos" >Agregar alumno</button>
    </div>

    <div class="row p-2" *ngIf="tipo==='curso'">
        <button class="col-12 btn btn-outline-dark mt-1" routerLink="listar-cursos" >Listar cursos</button>
        <button class="col-12 btn btn-outline-dark mt-1" routerLink="agregar-cursos" >Agregar curso</button>
    </div>

    <!-- <button class="col-12 btn btn-outline-dark mt-1" routerLink="listar-alumnos">Alumnos</button>
    <button class="col-12 btn btn-outline-dark mt-1" routerLink="listar-alumnos">Cursos</button> -->
    
</div>