<div class="container menu">

    <h4>Opciones:</h4>

    <div class="row p-2">
        <!-- <button class="col-12 btn btn-outline-dark mt-1" routerLink="producto">Desafío 1 - Productos</button> -->
        <button class="col-12 btn btn-outline-dark mt-1" routerLink="listar-alumnos">Listar alumnos</button>
        <button class="col-12 btn btn-outline-dark mt-1" routerLink="agregar-alumnos">Agregar alumno</button>
        <!-- <button class="col-12 btn btn-outline-dark mt-1" routerLink="producto">Modificar alumno</button> -->
        <button class="col-12 btn btn-outline-dark mt-1" routerLink="editar-alumnos">Editar alumno</button>
        <button class="col-12 btn btn-outline-dark mt-1" routerLink="eliminar-alumnos">Eliminar alumno</button>
    </div>
    
</div>